
 
 <div class="calculator">
        <input type="text" class="calculator-screen" value="0" disabled />
      
        <div class="calculator-keys">
            <button pButton pRipple type="button"  value="+">+</button>
            <button pButton pRipple type="button"  value="-">-</button>
            <button pButton pRipple type="button"  value="*">&times;</button>
            <button pButton pRipple type="button"  value="/">&divide;</button>
      
          
            <button pButton pRipple type="button"  value="7">7</button>
            <button pButton pRipple type="button"  value="8">8</button>
            <button pButton pRipple type="button"  value="9">9</button>
 
            <button pButton pRipple type="button"  value="4">4</button>
            <button pButton pRipple type="button"  value="5">5</button>
            <button pButton pRipple type="button"  value="6">6</button>
            <button pButton pRipple type="button"  value="1">1</button>
            <button pButton pRipple type="button"  value="2">2</button>
            <button pButton pRipple type="button"  value="3">3</button>
     
      
            <button pButton pRipple type="button"   value="0">0</button>
          

            <button pButton pRipple type="button"   value=".">.</button>
            <button pButton pRipple type="button"  class="p-button-danger" value="all-clear">AC</button>
            <button pButton pRipple type="button"  class="equal-sign" value="=">=</button>
            
        </div>
      </div>